
/* ***********
flexBox
***************** */

.flex{
    display: flex;
}

.jcfe{
    justify-content: flex-end;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.jcse{
    justify-content: space-evenly;
}


.aic{
    align-items: center;
}
.aifs{
    align-items: flex-start;
}
.aife{
    align-items: flex-end;
}

.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.gap-25{
    gap: 25px;
}


.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}


/* *************
Position
******************* */

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.static{
    position: static;
}


/* *************
display
****************** */

.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.none{
    display: none;
}


/* ************
general
******************** */

.bold{
    font-weight: bold;
}

input,textarea,button{
    outline: none;
}

button{
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.tc{
    text-align: center;
}


p{
    margin: 0;
    padding: 0;
}

